################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab 6_1/.vs/Lab 6_1
/Lab 6_1/Lab 6_1
